# =====================
# RecipeHub Environment
# =====================

# Server
PORT=4000

# MongoDB
MONGO_URI=mongodb://admin:admin123@mongo:27017/recipehub?authSource=admin
MONGO_USER=admin
MONGO_PASS=admin123

# JWT
JWT_SECRET=your_jwt_secret_here

# Frontend
VITE_API_URL=http://localhost:4000/api
